.tabs {
    display: flex;
    background-color: transparent;
    position: absolute;
    top: 150px;
    left: 250px;
    width: 1200px;
  }
  .tabs button {
    flex: 1;
    padding: 14px 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    transition: background-color 0.3s, border-bottom 0.3s;
  }
  .tabs button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid white;
  }
  .tabs button.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid #007bff;
  }
  .tab-content {
    padding: 20px;
    display: none;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    position: relative; /* Changed from absolute to relative */
    margin-top: 250px; /* Adds a gap below the tabs */
  }
  .tab-content.active {
    display: block;
  }

  .full-screen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav-bar img {
    height: 40px;
  }
  .nav-bar .nav-links {
    margin-left: 20px;
    color: #003080;
    font-size: 18px;
    font-weight: bold;
    flex: 1; /* Pushes the right-aligned items towards the right */
  }
  .nav-bar .right-items {
    display: flex;
    align-items: center;
    margin-left: auto; /* Moves the container to the far right */
  }
  .nav-bar .feedback-button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 80px; /* Adjust margin to move towards the left */
  }
  .nav-bar .feedback-button:hover {
    background-color: #0056b3;
  }
  .nav-bar .welcome-user {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px; /* Adjust margin to move towards the left */
  }
  .nav-bar .logout-button {
    background-color: #ffffff;
    color: #003080;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 80px;
  }
  .nav-bar .logout-button:hover {
    background-color: #c82333;
  }