name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build, Test, and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      # Install apt-utils to avoid configuration delays
      - name: Install apt-utils
        run: |
          sudo apt-get update
          sudo apt-get install -y apt-utils

      # Install Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      
      # Install dependencies
      - name: Install dependencies
        run: npm ci
      
      # Run Vitest unit tests
      - name: Run Vitest
        run: npm run test

      # Run Cypress end-to-end tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm start
          browser: chrome
      
      # Notify GitHub of the Deployment Start
      - name: Create deployment
        uses: actions/github-script@v6
        id: create_deployment
        with:
          script: |
            const deployment = await github.rest.repos.createDeployment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.ref,
              required_contexts: []  // Bypass commit status checks if needed
            });
            return { deployment_id: deployment.data.id };
        
      - name: Output deployment ID
        run: |
          echo "Deployment ID: ${{ steps.create_deployment.outputs.deployment_id }}"
      
      # Build And Deploy
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_AMBITIOUS_SEA_03F86DA1E }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for GitHub integrations (i.e., PR comments)
          action: "upload"
          output_location: "dist" # Built app content directory

      # # Update Deployment Status to Success
      # - name: Deployment success
      #   if: success()
      #   uses: actions/github-script@v6
      #   with:
      #     script: |
      #       await github.rest.repos.createDeploymentStatus({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         deployment_id: steps.create_deployment.outputs.deployment_id,
      #         state: 'success',
      #         environment: 'production',
      #         description: 'Deployment completed successfully.',
      #         log_url: `https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`
      #       });

      # # Update Deployment Status to Failure
      # - name: Deployment failure
      #   if: failure()
      #   uses: actions/github-script@v6
      #   with:
      #     script: |
      #       await github.rest.repos.createDeploymentStatus({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         deployment_id: steps.create_deployment.outputs.deployment_id,
      #         state: 'failure',
      #         environment: 'production',
      #         description: 'Deployment failed.',
      #         log_url: `https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`
      #       });

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          app_location: "/"
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_AMBITIOUS_SEA_03F86DA1E }}
          action: "close"
